<header>
         <div class="alex_h1">{{page.header}}</div>
         <nav>
          <!--  <input type="checkbox" id="button" />
            <label for="button" onclick></label>
            <button class="hamburger hamburger--collapse" type="button">
            <span class="hamburger-box">
            <span class="hamburger-inner"></span>
            </span>
            </button>-->
            <section class="alex_navi">
               {{page.navigation}}
            </section>
         </nav>
         <section id='hero'>
            <div class="alex_h2"> {{ page.hero_headline }}</div>
            <!-- <a href='http://drupal.alex-mayer.tk/en/contact/inquiries'>Angebot einholen</a>-->
         </section>
      </header>
        <section class="dynamic_content">
      {{ page.content }}
        </section>
<footer class='footerlayout'>
         {{page.footer_legal}}
         {{page.footer}}
      </footer>
      <script src="main.f373aad67e4588c5dfe1.js?67a1102b3326177d47f7"></script>
